/* CSS Variables or "Custom Properties" */
:root {
  /* https://www.w3schools.com/colors/colors_picker.asp If needed for BG colours */
  --bg-1: #cedede;
  --bg-2: #a1c8d6;
  --bg-3: #8cd1d1;
  --bg-4: #4bb8b8;
  --bg-5: #38a6a6;
}

html {
  /*background: linear-gradient(var(--bg-1) 0%, var(--bg-2) 47%, var(--bg-3) 72%, var(--bg-4) 90%, var(--bg-5) 100%);*/
  /*background: radial-gradient(circle, var(--bg-1) 0%, var(--bg-2) 47%, var(--bg-3) 72%, var(--bg-4) 90%, var(--bg-5) 100%);*/
  /*background: radial-gradient(circle, #F2A341, #F27F3D, #0D0D0D)*/
}

.homepage, #canvas {
  height: calc(100% / 3);
}

#logo-text {
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  transition: opacity 3.2s ease-in-out;
}

#logo-text img {
  max-width: 65%;
}

.row-top {
  padding-bottom: 5px;
}

.row-top a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  transition: all 0.2s ease;
}

.row-top h1 {
  padding-top: 18px;
}

.row-top a:hover {
  font-size: 150%;
}

.row-top, .row-bottom {
  background-color: #0D0D0D;
  color: #fff;
}

.col-links {
  position: relative;
  vertical-align: bottom;
  text-align: center;
}

#links {
  font-size: 210%;
}

canvas {
  filter: blur(20px) contrast(2);
  width: 100%;
  z-index: -10;
  position: absolute;
  left: 0;
}
