/* CSS Variables or "Custom Properties" */
:root {
  /* https://www.w3schools.com/colors/colors_picker.asp If needed for BG colours */
  --bg-1: #cedede;
  --bg-2: #a1c8d6;
  --bg-3: #8cd1d1;
  --bg-4: #4bb8b8;
  --bg-5: #38a6a6;
}

html {
  background: radial-gradient(circle, var(--bg-1) 0%, var(--bg-2) 47%, var(--bg-3) 72%, var(--bg-4) 90%, var(--bg-5) 100%);
}

.homepage {
  height: calc(100% / 3);
}

#logo-text {
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  transition: opacity 3.2s ease-in-out;
}
